---
name: home
url: /
controller: CountryCtrl
---

<div class="grid-container">
  <h1>BAE systems :: Front-end test</h1>

	<table class="table">
		<tr>
			<th>Country</th>
			<th>Address</th>
			<th>City</th>
			<th>Postal Code</th>
			<th>Location</th>
		</tr>

		<tr ng-repeat="countries in countries | orderBy: ['country','city'] ">
			<td>{{countries.country}}</td>
			<td>{{countries.address}}</td>
			<td>{{countries.city}}</td>
			<td>{{countries.postalCode}}</td>
			<td>
				<a class="button hollow small" href="#modal{{$index}}" id="mapLink-{{$index}}" zf-open="modal{{$index}}">Map location</a>
				<div zf-modal="" id="modal{{$index}}" class="collapse">
					<div class="grid-block vertical">
						<div class="title-bar">
							<div class="center title">{{countries.city}}</div>
							<span zf-close="modal{{$index}}" class="right"><a class="close-button">×</a></span>
						</div>
						<div class="grid-content padding">
							<iframe ng-src="{{countries.url}}" scrolling="no" frameborder="0" height="400px" width="560px"></iframe>
							<h4>Address</h4>
							<p>{{countries.address}}<br>{{countries.city}}<br>{{countries.postalCode}}</p>
						</div>
					</div>
				</div>
			</td>
		</tr>

	</table>

</div>